<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>二十二城测试版.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3DF3457F20AEA074A4F720727F43B58DE2F11221</string>
				<key>dateExpires</key>
				<string>2018/11/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>85FZ94L3S2.cn.22city.mall.beta</string>
				<key>com.apple.developer.team-identifier</key>
				<string>85FZ94L3S2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>85FZ94L3S2.cn.22city.mall.beta</string>
				</array>
			</dict>
			<key>name</key>
			<string>hll_mall_app_beta.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>db1409d9-90ad-4d41-8b83-ea4a962aa9bb</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85FZ94L3S2</string>
				<key>name</key>
				<string>Xiaofeng Wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
